
.addPasswords{
    width: 90%;
    max-width: 750px;
    margin: -1vh auto;
}
.form_addPasswords {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
  
}
.form__group_addPasswords{
    display: block;
    width: 100%;
    font-family: "Roboto";
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    
}
.form__input_addPasswords {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: "Roboto";
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    font-size: 22px;
  }

  .form__group_addPasswords i{
    position:fixed;
    left: 85%;
    bottom:58%;
}
.hide{
    display:none;
}