
.passwords_table{
    border-collapse: collapse;
    margin:  5vh auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 750px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.passwords_table thead tr {
    background:#494745;
    color: #ffffff;
    text-align: left;
}

.passwords_table th,
.passwords_table td {
    padding: 12px 15px;
}
.passwords_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.passwords_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.passwords_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.passwords-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.btn-edit{
    background-color: #494745;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    width: 50px;
    border: none;
    outline: none;
    padding: 2px;
}
td img{
    border-radius: 50%;
}
.error_on_image{
    max-width: 100px;
    max-height: 100px;
}
.update-profile-popup-container {
    position: absolute;
    top: 25%;
    right: 25%;
  }
  