.savePasswordBtn{

    width: 50%;
    margin: 10px auto;
    color:white;
    font-family: "Roboto";
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background:#494745;
    transition: 0.3s; 
    font-size: 16px; 
    border-radius: 5px;
    text-align: center;
}
